<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Information</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <!-- Search -->
        <div class="container">
            <form action="" method = "GET">
                <input type = "text" name = "q" placeholder="Search Stock"/>
                <input type = "submit" value = "Search"/>
            </form>
        </div>

        <!-- My day -->
        
          
    </body>
</html>